{% extends 'bases/base.html.twig' %}
{% form_theme form 'form/reservaForm.html.twig' %}
{% block titulo %}Gestion Reserva {% endblock %}
{% block contenido %}
{{ parent() }}
  <h1 class="text-center display-4">Gestion de la Reserva </h1>
    {{ form_start(form)}}
    {{ form_widget(form)}}
    {{ form_end(form)}}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
 
<script type="text/javascript">
  $(function () {
    let fechaSeleccionada = null;
    let capturoHoraBd = new Array();
    let capturoFechaBd = new Array();
    let horarios = ['9:00', '10:00', '11:00', 
                '12:00', '13:00', '14:00', '15:00', '16:00',
                '17:00', '18:00', '19:00', '20:00', '21:00',
                '22:00', '23:00','00:00','01:00','02:00','03:00'];
          $("#nueva_reserva_cancha").click(function() {
                    $.ajax({
                    type: 'POST',
                    url: 'buscoCancha',
                    dataType: "json",
                    data: {
                            'nombreCancha': $("#nueva_reserva_cancha").val()
                    },
                    success: function(data) {
                          console.log(data);
                          $.datetimepicker.setLocale('es');
                          $(".datetimepicker").datetimepicker({
                              format: 'Y-m-d H:i',
                              yearStart: 2022,    
                              yearEnd: 2030,
                              dayOfWeekStart:1,
                              allowTimes: horarios,
                              minDate: 0,
                              onGenerate:function(ct,$i){
                                  fechaSeleccionada = JSON.stringify(moment(ct).format(moment.HTML5_FMT.DATE))
                                  console.log("fecha: "+fechaSeleccionada);
                                  //capturo fecha y dia, de los registros de la bases de datos
                                   for(h of data){
                                      capturoFechaBd= JSON.stringify(moment(h.fecha).format(moment.HTML5_FMT.DATE));
                                      capturoHoraBd = moment(h.fecha).format("HH:mm");

                                      if((capturoFechaBd === fechaSeleccionada)){
                                          console.log("La fecha existe");
                                          var indice = horarios.indexOf(capturoHoraBd);
                                          console.log(indice);
                                          {# horarios.splice(indice,1); #}
                                          $('.xdsoft_time_variant .xdsoft_time').show();
                                          if(indice !== -1) {
                                              $('.xdsoft_time_variant .xdsoft_time').each(function(indice){
                                                  if(horarios[indice].indexOf(parseInt($(this).text())) !== -1){
                                                      $(this).hide();        
                                              }
                                         });
                                        }
                                      }//fin if
                                    } //for
                             }//fin onGenerate    
                         });//fin datetimepicker
                      }// fin success
                });//finaliza ajax
          }); // fin nueva_reserva_cancha
  });// fin function
</script>
{% endblock %}

