{% extends 'bases/base.html.twig' %}
{% form_theme form 'form/reservaForm.html.twig' %}
{% block titulo %}Gestion Reserva {% endblock %}
{% block contenido %}
{{ parent() }}
  <h1 class="text-center display-4">Gestion de la Reserva </h1>
    {{ form_start(form)}}
    {{ form_widget(form)}}
    {{ form_end(form)}}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
 
<script type="text/javascript">
var checkPastTime = function(inputDateTime) {
    if (typeof(inputDateTime) != "undefined" && inputDateTime !== null) {
        var current = new Date();

        //check past year and month
        if (inputDateTime.getFullYear() < current.getFullYear()) {
            $('.datetimepicker').datetimepicker('reset');
        } else if ((inputDateTime.getFullYear() == current.getFullYear()) && (inputDateTime.getMonth() < current.getMonth())) {
            $('.datetimepicker').datetimepicker('reset');
        }
 
        // 'this' is jquery object datetimepicker
        // check input date equal to todate date
        if (inputDateTime.getDate() == current.getDate()) {
            if (inputDateTime.getHours() < current.getHours()) {
                $('.datetimepicker').datetimepicker('reset');
            }
            this.setOptions({
                minTime: current.getHours() + ':00' //here pass current time hour
            });
        } else {
            this.setOptions({
                minTime: false
            });
        }
    }
};
  $(function () {
    let fechaSeleccionada = null;
    let capturoHoraBd = new Array();
    let capturoFechaBd = new Array();
    let horarios = ['9:00', '10:00', '11:00', 
                '12:00', '13:00', '14:00', '15:00', '16:00',
                '17:00', '18:00', '19:00', '20:00', '21:00',
                '22:00', '23:00','00:00','01:00','02:00','03:00'];
          $("#nueva_reserva_cancha").click(function() {
                    $.ajax({
                    type: 'POST',
                    url: 'buscoCancha',
                    dataType: "json",
                    data: {
                            'nombreCancha': $("#nueva_reserva_cancha").val()
                    },
                    success: function(data) {
                          console.log(data);
                          $.datetimepicker.setLocale('es');
                          $(".datetimepicker").datetimepicker({
                              format: 'Y-m-d H:i',
                              yearStart: 2022,    
                              yearEnd: 2030,
                              dayOfWeekStart:1,
                              allowTimes: horarios,
                              minDate: 0,
                              onChangeDateTime:checkPastTime,
                              onShow:checkPastTime,
                              onGenerate:function(ct,$i){
                                  fechaSeleccionada = JSON.stringify(moment(ct).format(moment.HTML5_FMT.DATE));
                                  console.log("fecha: "+fechaSeleccionada);
                                   //capturo fecha y dia, de los registros de la bases de datos
                                      for(h of data){
                                      capturoFechaBd= JSON.stringify(moment(h.fecha).format(moment.HTML5_FMT.DATE));
                                      capturoHoraBd = moment(h.fecha).format("HH:mm");
                                      {# horarios.splice(indice,1); #}

                                      if(( fechaSeleccionada === capturoFechaBd)){
                                          console.log(capturoHoraBd);
                                          var indice = horarios.indexOf(capturoHoraBd);
                                          console.log(indice);
                                          $('.xdsoft_time_variant .xdsoft_time').show();
                                          if(indice !== -1) {
                                              $('.xdsoft_time_variant .xdsoft_time').each(function(index){
                                                  if(horarios[indice].indexOf(parseInt($(this).text())) !== -1){
                                                    $(this).hide();
                                              }
                                         });
                                        }
                                      }//fin if
                                    } //for
                             }//fin onGenerate    
                         });//fin datetimepicker
                      }// fin success
                });//finaliza ajax
          }); // fin nueva_reserva_cancha
  });// fin function
</script>
{% endblock %}

