{% extends 'bases/base.html.twig' %}
{% form_theme form 'form/reservaForm.html.twig' %}
{% block titulo %}Gestion Reserva {% endblock %}

{% block contenido %}
{{ parent() }}
  <div class="container">
    <h1 class="text-center display-4">Gestion Reserva 
    </h1>
      <div class="row">
        <div class="col-md-8">      
            {{ form_start(form)}}
              {% for message in app.flashes('success')%}
                <div class="alert alert-success">
                    {{message}}
                </div>
              {% for message in app.flashes('warning')%}
                <div class="alert alert-warning">
                  {{message}}
                </div>
              {% endfor %}
              {% endfor %}
            {{ form_widget (form)}}
            {{ form_end(form)}}
        </div>
      </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
  var horasArray = [
  "09:00:00",
  "10:00:00",
  "11:00:00",
  "12:00:00",
  "13:00:00",
  "14:00:00",
  "15:00:00",
  "16:00:00",
  "17:00:00",
  "18:00:00",
  "19:00:00",
  "20:00:00",
  "21:00:00",
  "22:00:00",
  "23:00:00"
  ];
    $("#nueva_reserva_cancha").click(function() {
      $.ajax({
          type: 'POST',
          url: 'buscoCancha',
          dataType: "json",
          data: {
              'tamano': $("#nueva_reserva_cancha").val()
          },
          success: function(data) {
            console.log(data);
            {# for(x=0;x<=data.length;+1){
              console.log(x);
            } #}
            {# $("#nueva_reserva").append($('<p>'+response+'</p>')); #}
          }
      });
    });
  
  
    $('.timepicker').timepicker({
        timeFormat: 'HH:mm',
        interval: 60,
        minTime: '9:00',
        maxTime: '23:00',
        dropdown: true,
        scrollbar: true,
    });
  // Fin hora
      var green = ["2021-09-29"];
      $(".datepicker").datepicker({
          dateFormat: "yy-mm-dd",
          dayNamesMin: ["Dom", "Lun", "Mar", "Mier", "Jue", "Vie", "Sab"],
          monthNamesShort: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
          changeMonth: true,
          changeYear: true,
          maxDate: '+2Y',
          minDate: '-4d',

          beforeShowDay: function(date) {
              var dateISO = $.datepicker.formatDate('yy-mm-dd', date);
              //console.log(dateISO);

              // if (red.indexOf(dateISO) > -1) {
              //     return [true, "red"] // Enabled, class
              // }
              // if (yellow.indexOf(dateISO) > -1) {
              //     return [true, "yellow"]
              // }
              if (green.indexOf(dateISO) > -1) {
                  return [true, "green"]
              }
              return [true] // If not found, must at least return the enabled boolean.
          }
      });
 
  </script>
{% endblock %}