{% extends 'bases/base.html.twig' %}
{% block titulo %}
  Clientes
{% endblock %}

{% block contenido %}
  <h1 class="mt-4 mb-3">Clientes</h1>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Editar</th>
              <th scope="col">Dni</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Email</th>
              <th scope="col">Celular</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>            
        <tbody>
      
                        <tr>
                            {# es el dni que va a recibir el controlador de clientes, para que luego traiga los
                                datos al dar editar un cliente #}
                            <th scope="row"><a href="{{path('nuevoCliente',{'dni':cliente.dni})}}"><i class ="fas fa-pencil-alt"></i></a></th> 
                                <td>{{cliente.dni}}</td> 
                                <td>{{cliente.nombre}}</td> 
                                <td>{{cliente.apellido}}</td> 
                                <td>{{cliente.email}}</td> 
                                <td>{{cliente.celular}}</td> 
                            {# esta opcion, realiza el borrado de un cliente, pasa por parametro a la funcion borrarCliente el dni del cliente
                                y la fecha para el popup #}
                            <th scope="row"><a href="#" onClick="return controlBorrado('{{path('borrarCliente',{'dni':cliente.dni})}}');"><i class="fas fa-trash-alt"></i></a></th>
                            
                        </tr>
      </tbody>        
        </table>
        <div class="col-md-2"></div> 

      </div>
    </div>
  </div>

{% endblock %}